{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content%}

<h3 style="color: orange; margin: 10px;">About us</h3>
<h1 style="margin: 10px; font-weight: 700; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">The Embrace of Good Health</h1><hr>
<div style="background: grey; padding: 5px;">
<p  style="margin: 15px;">Every life is precious to us. You are important, and we care for you. We at Amrita Hospitals are there for you when you need us the most. Our hospital is where science, technology, and research merge to embrace good health. We are a community of physicians, caregivers, innovators, inventors, and researchers, and we use the tools and knowledge made available by modern science to cure your body and mind. Amrita Hospitals, formerly Amrita Institute of Medical Sciences and Research Center, is one of the premier hospitals in India. Founded in 1998 by Mata Amritanandamayi Devi, affectionately called Amma, we are committed to offering the most advanced healthcare to all.</p>
</div>




{% endblock %}
